@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
$body-font-family: "Lato", Arial, sans-serif;
$body-font-size: 16px;
$head-font-family: "Lato", sans-serif;//"Helvetica Neue Condensed Bold", Arial, sans-serif;

$black: #222 !default;
$white: #fff !default;
$lite: #f9f9f9 !default;
$gray: #efefef !default;
$dark: #757575 !default;
$hilit: #7d57d1 !default; // purple
