<div class="row container">
  <div class="columns four offset-by-four center">
    <a href="https://twitter.com/{{site.twitter_username }}"><i class="fa fa-twitter"></i></a>
    &nbsp;
    <a href="https://instagram.com/{{site.instagram_username }}/"><i class="fa fa-instagram"></i></a>
    &nbsp;
    <a href="https://medium.com/{{site.medium_username }}"><i class="fa fa-medium"></i></a>
  </div>
</div>
<div class="row center">
  <p>&nbsp;</p>
  &copy; {{ site.time | date:"%Y"}} {{ site.title }}
</div>
